---
layout: default
title: Artificial Intelligence News
description: AI News description
---

{% comment %}Include header navigation{% endcomment %}
{% include header_navigation.html %}

{% comment %}Assign today's date for comparison{% endcomment %}
{% assign today = 'now' | date: "%Y-%m-%d" %}

{% comment %}Initialize a variable to track if there are posts for today{% endcomment %}
{% assign posts_for_today_found = false %}

{% comment %}Initialize variable for the latest post if no posts are found for today{% endcomment %}
{% assign latest_post = site.news_posts | last %}

{% comment %}Loop through news posts in reverse to check for today's post first{% endcomment %}
{% assign sorted_posts = site.news_posts | sort: 'date' | reverse %}
{% for post in sorted_posts %}
    {% assign post_date = post.date | date: "%Y-%m-%d" %}
    {% if post_date == today %}
        {% assign posts_for_today_found = true %}
        {{ post.content }}
        {% break %}
    {% endif %}
{% endfor %}

{% comment %}Check if no posts were found for today and display the latest post{% endcomment %}
{% if posts_for_today_found == false %}
    {{ latest_post.content }}
{% endif %}

{% comment %}Include footer navigation{% endcomment %}
{% include footer_navigation.html %}
