---
layout: research
title: Artificial Inteligence Research Projects
description: Research description
---

{% include header_navigation.html %}
<header>
  <h1>
    AI Research Projects for Data Management, Tool Efficiency and Model
    Deployment Success
  </h1>
</header>
<main>
  <section>
    <h2>Latest Projects</h2>
    {% for post in site.research_posts %}
    <article>
      <h3>{{ post.title }}</h3>
      <p>{{ post.date | date: "%B %-d, %Y" }}</p>
      <a href="{{ post.url | relative_url }}">Read more</a>
    </article>
    {% endfor %}
  </section>
</main>
{% include footer_navigation.html %}
